@font-face {
	
 /* Rectangle 1 */
position: absolute;
width: 661px;
height: 763px;

background: #C4C4C4;

/* Rectangle 2 */
position: absolute;
width: 500px;
height: 61px;

background: #FFFFFF;
	
/* Redux */
position: absolute;
width: 133px;
height: 56px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;

color: #000000;

/* Rectangle 3 */
position: absolute;
width: 500px;
height: 220px;

background: #E0E0E0;
	
/* Rectangle 4 */
box-sizing: border-box;

position: absolute;
width: 500px;
height: 44px;

background: #E3E3E3;
border: 2px solid #000000;
	
/* Rectangle 5 */
box-sizing: border-box;

position: absolute;
width: 500px;
height: 44px;

background: #E3E3E3;
border: 2px solid #000000;
	
/* Rectangle 6 */
box-sizing: border-box;

position: absolute;
width: 500px;
height: 44px;

background: #65CDF9;
border: 2px solid #000000;
	
/* Rectangle 7 */
box-sizing: border-box;

position: absolute;
width: 500px;
height: 44px;

background: #E3E3E3;
border: 2px solid #000000;
	
/* Rectangle 8 */
box-sizing: border-box;

position: absolute;
width: 500px;
height: 44px;

background: #E3E3E3;
border: 2px solid #000000;
	
/* Redux */
position: absolute;
width: 83px;
height: 35px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;

color: #000000;

position: absolute;
width: 487px;
height: 44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;

color: #000000;

/* Redux-actions */
position: absolute;
width: 487px;
height: 44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;

color: #000000;
	
/* React-redux */
position: absolute;
width: 487px;
height: 44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;

color: #000000;

/* Redux-saga */
position: absolute;
width: 487px;
height: 44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;

color: #000000;
	
/* Rectangle 9 */
position: absolute;
width: 500px;
height: 304px;

background: #E6E6E6;
	
/* Rectangle 10 */
box-sizing: border-box;

position: absolute;
width: 503px;
height: 101px;

background: #E27BEB;
border: 1px solid #000000;
	
/* Rectangle 11 */
box-sizing: border-box;

position: absolute;
width: 503px;
height: 101px;

background: #E27BEB;
border: 1px solid #000000;
	
/* Rectangle 12 */
box-sizing: border-box;

position: absolute;
width: 503px;
height: 101px;

background: #E27BEB;
border: 1px solid #000000;
	
/* Name: react Owner: facebook Stars: 145231 */
position: absolute;
width: 470px;
height: 85px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #000000;

/* Name: vue Owner: vuejs Stars: 160897 */
position: absolute;
width: 470px;
height: 85px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #000000;

/* Name: angular Owner: angular Stars: 59457 */
position: absolute;
width: 470px;
height: 85px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #000000;

/* Vector 1 */
position: absolute;
width: 42px;
height: 38.5px;

border: 4px solid #FF0000;
	
/* Vector 5 */
position: absolute;
width: 42px;
height: 38.5px;

border: 4px solid #FF0000;

/* Vector 8 */
position: absolute;
width: 42px;
height: 38.5px;

border: 4px solid #FF0000;
	
/* Vector 3 */
position: absolute;
width: 42px;
height: 38.5px;

border: 4px solid #FF0000;
transform: matrix(-1, 0, 0, 1, 0, 0);

position: absolute;
width: 42px;
height: 38.5px;

border: 4px solid #FF0000;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Vector 7 */
position: absolute;
width: 42px;
height: 38.5px;

border: 4px solid #FF0000;
transform: matrix(-1, 0, 0, 1, 0, 0);

	
	table {
   border: 1px solid grey;
}
/* границы ячеек первого ряда таблицы */
th {
   border: 1px solid grey;
}
/* границы ячеек тела таблицы */
td {
   border: 1px solid grey;
}
